
<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <!-- <span class="example-spacer"></span> -->
      <div class="row">
        <div class="navbar">
        <span class="navbar-item" >Personal Loan</span>
        <span class="navbar-item">Home Loan</span>  
        <span class="navbar-item">Business Loan</span>
        <span class="navbar-item">Loan Againest Property</span>
        <span class="navbar-item">Vehicle Loan</span>
</div>
      </div>
      
    </mat-toolbar> 
  </p>