<div class="row mb-2">
    <img src="https://www.tatacapital.com/online/loans/personal-loans/assets/PL-Additional.jpg" alt="" height="500" width="1000">

</div>

<div class="home-container">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>New Customer</ng-template>
        <app-customerdetails></app-customerdetails>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <ng-template matStepLabel>Existing Customer</ng-template>
        <app-customerdetails></app-customerdetails>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Track order</ng-template>
     <app-trackorder></app-trackorder>
    </mat-step>
  </mat-stepper>
</div>