<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Personal Loan EMI Calculator</h3>
            <p>Planning to take a Personal Loan? Use this Personal Loan EMI Calculator to estimate the EMI amount
                payable per month to repay the Personal Loan. The Personal Loan EMI Calculator is easy to use. All you
                need to select is the: Loan amount ranging from ₹ 50,000 to ₹ 50 lakh, Attractive Interest Rates, Loan
                Tenure (ranging from 12 – 72* months). After selecting the Loan Amount, Interest Rate per annum and the
                Loan Tenure, the calculator will estimate the monthly EMI amount and the total Interest payable till the
                end of the loan tenure.</p>
        </div>
        <div class="col-md-6">
            <!-- <div class="col-md-6">
                <div class="row"> -->
            <mat-card class="example-card">
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                <mat-card-title>Personal Loan EMI Calculator</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <mat-label class="text-label">Loan Amount</mat-label>
                                <mat-label class="text-label">₹{{loanamount}}</mat-label>
                                <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1000"
                                    min="0" max="100000" aria-label="units"  [(ngModel)]="loanamount" (ngModelChange)="calculateEmi()"></mat-slider>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <mat-label class="text-label">Tenure(Months)</mat-label>
                                <mat-label class="text-label">{{tenure}}</mat-label>
                                <mat-slider class="example-margin" [max]="60" [min]="12" [step]="6" [tickInterval]="100" [thumbLabel]="true"
                                    [(ngModel)]="tenure" (ngModelChange)="calculateEmi()">
                                </mat-slider>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <mat-label class="text-label">Interest Rate</mat-label>
                                <mat-label class="text-label">{{rateofintrest}}</mat-label>
                                <mat-slider class="example-margin" [max]="20" [min]="10" [step]="0.01" [tickInterval]="100" [thumbLabel]="true"
                                [(ngModel)]="rateofintrest" (ngModelChange)="calculateEmi()">
                            </mat-slider>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <mat-label class="text-label">EMI:&nbsp;₹{{emi | number:''}}</mat-label>
                    <!--  <button mat-button>LIKE</button> -->
                          <button mat-button color="primary" routerLink="/applyforloan">Apply Now</button> 
                </mat-card-actions>
                <mat-card-footer>
                    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                </mat-card-footer>
            </mat-card>

        </div>

    </div>
</div>

<!-- </div>
</div> -->